"env":
  "NAMESPACE": "${{ github.event.inputs.NAMESPACE }}"
"jobs":
  "apply-manifest":
    "runs-on":
    - "ubuntu-latest"
    "steps":
    - "name": "Check out Git repository"
      "uses": "actions/checkout@v4"
    - "name": "Install Helm"
      "uses": "azure/setup-helm@v4"
    - "name": "Setup Kube Context"
      "uses": "azure/k8s-set-context@v4"
      "with":
        "kubeconfig": |+
          "apiVersion": "v1"
          "clusters":
          - "cluster":
              "certificate-authority-data": "LS0tLS1CRUdJTiBDRVJUSUZJQ0FURS0tLS0tCk1JSUQ1akNDQWs2Z0F3SUJBZ0lRQnBmaHN3SmppckNMRlNoQ05UM0h5ekFOQmdrcWhraUc5dzBCQVFzRkFEQU4KTVFzd0NRWURWUVFERXdKallUQWVGdzB5TlRFd01ESXdOalF6TUROYUZ3MHpOVEV3TURJd05qUTBNRE5hTUEweApDekFKQmdOVkJBTVRBbU5oTUlJQm9qQU5CZ2txaGtpRzl3MEJBUUVGQUFPQ0FZOEFNSUlCaWdLQ0FZRUF1N2d3ClBMbmFSY2k4bVZXWWdSYmNveHBNN1FybTVPQ0pUYy9xYVRNaHRqVUt2TDYyYnFPWmFBQURNaDMxVjlTbmc2S1UKUkFwdzR5ODlselNsdUh1SGZySEVmVGtXT3E4dDBqb2M1eW4raFVEeTZTbE9ZVlJ5RmY5UlZMOHV2MnRFOURkZQpHUk9CTFdXRXIwbkM2VzYwYTdUUENFeVJvQzIyU3M2cDNzZVBDaVJlVWdENk11ck8yeWxPQzFGSU9JdFZ4anlkCkFWb3hJaXlwa3l0RGw0MkRINkQwczgydW91VzZ2SVpkbWxZcW44YlMrbUZ2QkYvMGlIZC92UEdaMmo5MTcrc2QKQ1BrckF5enkxd1Y0TTRtZ1JJZ3ZMVG1PRDZyemRvOHJWRkFhUktRd3luMGplcjhhUnVzekFJejFxUDNzSlkxSAo0SlpmRzBxQUFHM2V0RkExc2Z1eWk5ZEpSZFNvZ0V6QnQzYUFWRUZKcEJlWHlncTB1K1phVkY2dWQvaDFYMmlVCjhFV1BxVDN5aHgveFZOaVpQaGRpczQyMXZPRDU0Q1RSS0JsMEVwODh6UXJkV3hGR0oxODRzcE0rZkkyc0twWTMKbURNZXkyd0ZadXR5UU10M0VqSlRsWkFWRVVPc1JIcnZZV0N0ZzF5OURITXRmb29xeXpZZ0R5UWdHTTdoQWdNQgpBQUdqUWpCQU1BNEdBMVVkRHdFQi93UUVBd0lCcGpBUEJnTlZIUk1CQWY4RUJUQURBUUgvTUIwR0ExVWREZ1FXCkJCU0RtSHkxWkM2TjhjUWp4SjdDY2djcGxqbkZoakFOQmdrcWhraUc5dzBCQVFzRkFBT0NBWUVBSnkxYzBHZGcKVC9WTTBicExSbzUxYnVZUHZqMGFlenpKYWUweS9lMy8vVUptTmNBOCtIb2xhaFZhOXUxVE5GYzAxK1UwR1dLNQpJVUZFNWExdjVCdWlMOGJBRzhyV0JkeVJ3QkJJelRQVTdvRm9EblZuU1FOTXVYSVNUdTE0QS84NzVkK1crM0FYCnhLand6U0RHc0U0Wmp4Zy9vVnJDNDJZU3pFcW5ISkNpTGNsVWFzM1lzNWVTWjFQNEhvcTRhcjE0U05pK20xejkKVzNLb3R3Ly9PUU95dFJGcVhBc2ZrTkVMQ25rV2RONG1FWEdOVVJpZjdDTjJ4L05LQm9yU0dWa0ZtNjd1WWJqSgoxcDhHZTIwK3ZJZEdvR1d3Q2lLendLM0hiUHpVbS9FbDZLZVVzMVdIL0o1TFRZelNJU3Q1eldyZkl6amtSY1E2CkQ1OTdWN2NBQVlDL3dWWC9wdkdWeG1DR3J1aVY5QTRjTzhYNlVFaVZaUE1ubW5wUE9XVW1KV29PSklqYkFJakIKWGNkaWpHU1RtYzBDUmxIYjUxSGdYUkhNRCs0RXhyQzV0VFQ1NVF4R1l2SHZ4SzFCUDFsbDVhU1JHdHMyd1FoMAprbzN3eW4wUSt2OUhWMzRmVXZTc1doZ0NRdTdmcHl3WUVLQzBUNWdVYlNCQWRPeTA0TDkyemY3VwotLS0tLUVORCBDRVJUSUZJQ0FURS0tLS0tCg=="
              "server": "https://api.b84edf3.kyma.ondemand.com"
            "name": "garden-kyma--b84edf3-external"
          "contexts":
          - "context":
              "cluster": "garden-kyma--b84edf3-external"
              "user": "garden-kyma--b84edf3-external"
            "name": "garden-kyma--b84edf3-external"
          "current-context": "garden-kyma--b84edf3-external"
          "kind": "Config"
          "users":
          - "name": "garden-kyma--b84edf3-external"
            "user":
              "exec":
                "apiVersion": "client.authentication.k8s.io/v1"
                "args":
                - "-c"
                - |
                  set -e -o pipefail
                  OIDC_URL_WITH_AUDIENCE="$ACTIONS_ID_TOKEN_REQUEST_URL&audience=gh-teched-76f46b5b-d9ab-486f-8e4f-12e1163af943"
                  IDTOKEN=$(curl -sS \
                    -H "Authorization: Bearer $ACTIONS_ID_TOKEN_REQUEST_TOKEN" \
                    -H "Accept: application/json; api-version=2.0" \
                    "$OIDC_URL_WITH_AUDIENCE" | jq -r .value)
                  # Print decoded token information for debugging purposes
                  echo ::debug:: JWT content: "$(echo "$IDTOKEN" | jq -c -R 'split(".") | .[1] | @base64d | fromjson')" >&2
                  EXP_TS=$(echo $IDTOKEN | jq -R 'split(".") | .[1] | @base64d | fromjson | .exp')
                  EXP_DATE=$(date -d @$EXP_TS --iso-8601=seconds)
                  # return token back to the credential plugin
                  cat << EOF
                  {
                    "apiVersion": "client.authentication.k8s.io/v1",
                    "kind": "ExecCredential",
                    "status": {
                      "token": "$IDTOKEN",
                      "expirationTimestamp": "$EXP_DATE"
                    }
                  }
                  EOF
                "command": "bash"
                "interactiveMode": "Never"

        "method": "kubeconfig"
    - "name": "check permissions"
      "run": |
        echo "checking namespace $NAMESPACE permissions..."
        kubectl auth can-i --list --namespace $NAMESPACE
        kubectl auth can-i get gateways --namespace $NAMESPACE
        kubectl auth can-i create apirules --namespace $NAMESPACE
        echo "can access kyma-system gateway?"
        kubectl auth can-i get gateways -n kyma-system
        echo "can access all other gateways in the cluster?"
        kubectl auth can-i get gateways -A
        echo "display all gateways in the cluster"
        kubectl get gateways -A
        echo "display all pods and secrets in the namespace"
        kubectl get pod -n $NAMESPACE
        kubectl get secrets -n $NAMESPACE
    - "name": "check api-resources"
      "run": |
        kubectl api-resources -o wide -n $NAMESPACE
        kubectl get dnsentries -A  -o json | jq -n  'inputs | .items[].spec.dnsName '
        kubectl get dnsentries -A  -o json | jq -n  'inputs | .items[].spec.dnsName  | select(contains("btp-quovadis"))'
    - "id": "HTTPBIN_URL"
      "name": "kyma cli 3.2.0"
      "run": |
        echo "Installing kyma cli..."
        curl -sSL "https://github.com/kyma-project/cli/releases/download/3.2.0/kyma_Linux_x86_64.tar.gz" |  tar -xzv kyma
        ./kyma --help
        ./kyma alpha --help
        ./kyma alpha kubeconfig generate --help

        echo "Generate kyma-cli-sa"
        TOKEN=$(kubectl create token $NAMESPACE-sa -n $NAMESPACE)
        ./kyma alpha kubeconfig generate --token $TOKEN  --namespace $NAMESPACE > $NAMESPACE-sa.yaml

        echo "List of pods with  kyma-cli-sa"
        cat ./$NAMESPACE-sa.yaml
        kubectl get pods -n $NAMESPACE --kubeconfig ./$NAMESPACE-sa.yaml

        echo "deploy a docker image and expose it via an API Rule v2"
        kubectl delete all -l app.kubernetes.io/name=httpbin-$NAMESPACE -n $NAMESPACE
        HOSTNAME=$(./kyma app push --name httpbin-$NAMESPACE --image kennethreitz/httpbin --istio-inject true --expose --quiet --container-port 80 --namespace $NAMESPACE )
        HTTPBIN_URL=https://$HOSTNAME
        echo -e "$HTTPBIN_URL\n"

        echo -e "\nAdding APIRules to other custom domains\n"
        HOSTNAME=$(kubectl get dnsentries -A  -o json | jq -n -r --arg namespace "$NAMESPACE" 'inputs | .items[].spec.dnsName  | select(contains("btp-quovadis")) | select(contains("kyma.dev.sap")) | split("*") | join("httpbin-\($namespace)")' )

        kubectl get apirules -ojson -n $NAMESPACE  | jq '.items[] '  | jq 'del(.metadata["annotations","labels","creationTimestamp","resourceVersion","uid", "selfLink", "ownerReferences", "generation"], .status)' |  jq --arg namespace "$NAMESPACE" '.metadata |= . + {"name": "httpbin-\($namespace)-01" }' | jq --arg hostname "$HOSTNAME" '.spec |= . + {"gateway": "aws-route53-dns/quovadis-aws-route53-dns-gateway", "hosts": ["\($hostname)"] } ' | kubectl apply -n $NAMESPACE -f -
        HTTPBIN_URL=$(kubectl get dnsentries -A  -o json | jq -n -r --arg namespace "$NAMESPACE" 'inputs | .items[].spec.dnsName  | select(contains("btp-quovadis")) | select(contains("kyma.dev.sap")) | split("*") | join("https://httpbin-\($namespace)")' )
        echo -e "Additionally, httpbin-$NAMESPACE app has been made available under the custom domain at:\n$HTTPBIN_URL"
        echo "HTTPBIN_URL=$HTTPBIN_URL" >> $GITHUB_OUTPUT
    - "name": |
        "Simulate load on httpbin app in a given namespace"
      "run": "echo -e \"Simulate load on httpbin app in a given namespace...\"\nwhile
        [ \"$(curl -sS ${{ steps.HTTPBIN_URL.outputs.HTTPBIN_URL }}/headers )\" =
        \"no healthy upstream\" ]\ndo \n  echo \"no healthy upstream -- wait for the
        APIRule resource to be ready\"\n  sleep 6\ndone        \nfor f in {1..10};
        do curl -sS ${{ steps.HTTPBIN_URL.outputs.HTTPBIN_URL }}/headers; done\necho
        -e \"You can now check the logs, metrics and traces in SAP Cloud Logging portal:\\nhttps://url.sap/rw43o5\"\n"
"name": "uk-xp264--xp264 (student)"
"on":
  "workflow_dispatch":
    "inputs":
      "NAMESPACE":
        "default": "xp264-050"
        "description": "students namespace"
        "options":
        - "xp264-001"
        - "xp264-002"
        - "xp264-003"
        - "xp264-004"
        - "xp264-005"
        - "xp264-006"
        - "xp264-007"
        - "xp264-008"
        - "xp264-009"
        - "xp264-010"
        - "xp264-011"
        - "xp264-012"
        - "xp264-013"
        - "xp264-014"
        - "xp264-015"
        - "xp264-016"
        - "xp264-017"
        - "xp264-018"
        - "xp264-019"
        - "xp264-020"
        - "xp264-021"
        - "xp264-022"
        - "xp264-023"
        - "xp264-024"
        - "xp264-025"
        - "xp264-026"
        - "xp264-027"
        - "xp264-028"
        - "xp264-029"
        - "xp264-030"
        - "xp264-031"
        - "xp264-032"
        - "xp264-033"
        - "xp264-034"
        - "xp264-035"
        - "xp264-036"
        - "xp264-037"
        - "xp264-038"
        - "xp264-039"
        - "xp264-040"
        - "xp264-041"
        - "xp264-042"
        - "xp264-043"
        - "xp264-044"
        - "xp264-045"
        - "xp264-046"
        - "xp264-047"
        - "xp264-048"
        - "xp264-049"
        - "xp264-050"
        "required": true
        "type": "choice"
"permissions":
  "contents": "read"
  "id-token": "write"
