"jobs":
  "apply-manifest":
    "runs-on":
    - "ubuntu-latest"
    "steps":
    - "name": "Check out Git repository"
      "uses": "actions/checkout@v4"
    - "name": "Install Helm"
      "uses": "azure/setup-helm@v4"
    - "name": "Setup Kube Context"
      "uses": "azure/k8s-set-context@v4"
      "with":
        "kubeconfig": |+
          "apiVersion": "v1"
          "clusters":
          - "cluster":
              "certificate-authority-data": "LS0tLS1CRUdJTiBDRVJUSUZJQ0FURS0tLS0tCk1JSUQ1ekNDQWsrZ0F3SUJBZ0lSQUpjRnZWQ1hnbXljc3pDSHMwVVRzZ1V3RFFZSktvWklodmNOQVFFTEJRQXcKRFRFTE1Ba0dBMVVFQXhNQ1kyRXdIaGNOTWpVeE1EQTFNakF6T1RVMldoY05NelV4TURBMU1qQTBNRFUyV2pBTgpNUXN3Q1FZRFZRUURFd0pqWVRDQ0FhSXdEUVlKS29aSWh2Y05BUUVCQlFBRGdnR1BBRENDQVlvQ2dnR0JBTEZ2CnY1S0dSNXJBakRmS1BlMGVVaG13K2hjNjFQb09xb0tocWJNNEYzZWpia29CU3pZL09BaHR1ZEdWUysreFhvTW4KUk5VYUNMV0VMbVhjN0x3UUZiYjBQTzIySlo4emRVNGJ5U0tZUWxvSVRodERHTGY1T1d1Uit4WXRaRzdWaTVhZApvSHN2ZisxRTRCdnA5SmhISmdySm1KdlVBRW84K1dwU2VwNHlJWTZLRFJMczR0V0w2bFlaTkw2RnFjNWJRYnMwCjFtRFNXcDJkRjV1c2k5SHJUcXRQMS9JU1JmSVN3dlRBYnh4OWVXU3BvYklmejJwQncvdnRIcEdQSTV2ZnVaMUQKeTdoTVdkNnFLVWQrZmRVWXV4L1dQMS91YStvY1VqUXZYeFIyeERlSjF3TlVCczViV043citHT1BpNGFvVmh0cQpmOEc2MFdsZ2lUM1gyZ2ZCN3BkbWFQZHl5N3NFZkcwTmdsejdBYXlwZG4vV2VxZitIcFUrRmFSZjZPdXlmSENXCkMyNWluM0hDeko3Wmp3Y0dsVVpwOGQ1VHVITVVNT28yQndoRG5sWGRsVnZTamN4Mk9tTVZoUW5xM2xhWXdtZXEKVURXcldON3dqUE5hUXl5NVBmQUJ2ZGorKzBVVUpndWt3dDRaNENpaVR6aG8wS3hpTytrN0xycC9iSSszUFFJRApBUUFCbzBJd1FEQU9CZ05WSFE4QkFmOEVCQU1DQWFZd0R3WURWUjBUQVFIL0JBVXdBd0VCL3pBZEJnTlZIUTRFCkZnUVVwMWxMbDBRY1U4aGJoeGZCVEd3Ylo4YXV2Y3N3RFFZSktvWklodmNOQVFFTEJRQURnZ0dCQUVlOG5MN3AKRGhiSUJVN3Y1ZWRTTVcvV3NDL3pOaFA0SC83LytVc2t2c1BEYWJDZjJpNW9SWW5uOU95NkRQcjhqc0wrVTJ0bQovRGpKcVROZWxrRi9BV0NISk93Zk8yVUgwRm1zejJZc3ZJeTA0Q05DSnUwTHlWRFRYYlI4Mm1WZjI5MDZJR0UwCmVlS1JuZVhQOWpmZ1NhWklVMjhvK0RmTHJ1V3JEME9tbHQ2U1ZMSHdxU3VjR2xBN1FJWjI2eFJWS1RZM2tkZXAKVnpheVRLTFpiZzZQVjFJUUwzUjlrWjNNQWRwL0l6L05YMlZJSStYZnU4clh3ZXJGS3VuN3ZIT3g1NU9abWxPVwpxcWhQMHFzdGhwQUNjSXpsWEx1RFFFUEtlVGNick1WQk9CSEhheVhGNTl5V3NjbStJL1o4OHNpc3dYdXF6VmdVCk1XaEhDQUM2TFk3UkkyQWt3a1RobFMvRy81UnpOTFI5UkFmMitwRGhpeXNwT2JhbzRTVGxuRmhPL3hPMXBPSTgKUFo2VGRiY2tIMmk2cmJYTXVkTmkrdmtac2lWaHFhTFpNZ3NvVmlaaTZlTzNSRENuOUVLaTBBUmlSdnUzRlExZQp6RmdhazNwY3kwZitDSU5aNitZVmZxdHM3eUZ4NkVQaXQyVTZGbC9QbWlCNUc5SVgvdUNMZVFMNStnPT0KLS0tLS1FTkQgQ0VSVElGSUNBVEUtLS0tLQo="
              "server": "https://api.c-4d2de7e.kyma.ondemand.com"
            "name": "garden-kyma--c-4d2de7e-external"
          "contexts":
          - "context":
              "cluster": "garden-kyma--c-4d2de7e-external"
              "user": "garden-kyma--c-4d2de7e-external"
            "name": "garden-kyma--c-4d2de7e-external"
          "current-context": "garden-kyma--c-4d2de7e-external"
          "kind": "Config"
          "users":
          - "name": "garden-kyma--c-4d2de7e-external"
            "user":
              "exec":
                "apiVersion": "client.authentication.k8s.io/v1"
                "args":
                - "-c"
                - |
                  set -e -o pipefail
                  OIDC_URL_WITH_AUDIENCE="$ACTIONS_ID_TOKEN_REQUEST_URL&audience=gh-teched-622af3fe-a2f5-4fdd-a05f-73e343aec2a5"
                  IDTOKEN=$(curl -sS \
                    -H "Authorization: Bearer $ACTIONS_ID_TOKEN_REQUEST_TOKEN" \
                    -H "Accept: application/json; api-version=2.0" \
                    "$OIDC_URL_WITH_AUDIENCE" | jq -r .value)
                  # Print decoded token information for debugging purposes
                  echo ::debug:: JWT content: "$(echo "$IDTOKEN" | jq -c -R 'split(".") | .[1] | @base64d | fromjson')" >&2
                  EXP_TS=$(echo $IDTOKEN | jq -R 'split(".") | .[1] | @base64d | fromjson | .exp')
                  EXP_DATE=$(date -d @$EXP_TS --iso-8601=seconds)
                  # return token back to the credential plugin
                  cat << EOF
                  {
                    "apiVersion": "client.authentication.k8s.io/v1",
                    "kind": "ExecCredential",
                    "status": {
                      "token": "$IDTOKEN",
                      "expirationTimestamp": "$EXP_DATE"
                    }
                  }
                  EOF
                "command": "bash"
                "interactiveMode": "Never"

        "method": "kubeconfig"
    - "name": "Deploy JupyterHub"
      "run": |
        helm repo add jupyterhub https://jupyterhub.github.io/helm-chart/
        helm repo update
        helm show values jupyterhub/jupyterhub > values.yaml
        #cat ./values.yaml
        helm uninstall -n jupyter quovadis-jupyter --ignore-not-found
        helm upgrade --cleanup-on-fail --install quovadis-jupyter jupyterhub/jupyterhub --namespace jupyter --create-namespace --values values.yaml
    - "name": "check permissions"
      "run": |
        kubectl auth can-i --list --namespace quovadis-btp
        kubectl get nodes
        kubectl get pod -A
        kubectl get -n kyma-system kymas default -o json | jq '.spec.modules[] '
        kubectl get cm/shoot-info -n kube-system -o json | jq .data
        kubectl get openidconnect
        kubectl get cm/kyma-provisioning-info -n kyma-system -ojsonpath='{.data.details}'
    - "name": "kyma cli 3.2.0"
      "run": |
        echo "Installing kyma cli..."
        curl -sSL "https://github.com/kyma-project/cli/releases/download/3.2.0/kyma_Linux_x86_64.tar.gz" |  tar -xzv kyma
        ./kyma --help
        ./kyma alpha --help
        echo "List of modules"
        ./kyma module list
        ./kyma alpha kubeconfig generate --serviceaccount kyma-cli-sa --clusterrole cluster-admin --cluster-wide --namespace default --permanent > kyma-cli-sa.yaml

        echo "List of modules with  kyma-cli-sa"
        ./kyma module list --kubeconfig ./kyma-cli-sa.yaml
        echo "deploy a docker image and expose it via an API Rule v2"

        kubectl delete all -l app.kubernetes.io/name=httpbin-app
        HOSTNAME=$(./kyma app push --name httpbin-app --image kennethreitz/httpbin --istio-inject true --quiet --expose --container-port 80 )
        HTTPBIN_URL=https://$HOSTNAME
        echo -e "$HTTPBIN_URL\n"

    - "name": "Diagnose cluster health and configuration"
      "run": |
        echo "Get cluster metadata..."

        ./kyma alpha diagnose -f json | jq -r '.metadata'
        DEEPLINK=$(./kyma alpha diagnose -f json | jq -r '.metadata | { deeplink: ("https://emea.cockpit.btp.cloud.sap/cockpit?idp=anuk8cmfw.accounts.ondemand.com#/globalaccount/" + .globalAccountID + "/subaccount/" + .subaccountID) } | .deeplink' )
        echo $DEEPLINK
        
    - "name": "Community Modules Support"
      "run": |
        echo "discover/add available community-driven modules..."

        ./kyma module catalog
    - "name": "kyma-oidc-0 (https://dashboard.kyma.cloud.sap/cluster)"
      "run": |
        echo "generate kubeconfig files..."

        ./kyma alpha kubeconfig generate --oidc-name kyma-oidc-0 --output=kymacanary-oidc.yaml

        cat kymacanary-oidc.yaml
    - "name": "kymacanary-oidc (https://dashboard.kyma.cloud.sap/cluster)"
      "run": |
        echo "generate kubeconfig files..."

        ./kyma alpha kubeconfig generate --oidc-name kymacanary-oidc --output=kymacanary-oidc.yaml

        cat kymacanary-oidc.yaml
    - "name": "kymaprod-oidc (https://dashboard.kyma.cloud.sap/cluster)"
      "run": |
        echo "generate kubeconfig files..."

        ./kyma alpha kubeconfig generate --oidc-name kymaprod-oidc --output=kymaprod-oidc.yaml

        cat kymaprod-oidc.yaml
"name": "xp264-000--admin"
"on":
  "workflow_dispatch": null
"permissions":
  "contents": "read"
  "id-token": "write"
