name: Deploy all namespaces

on:
  workflow_dispatch:

jobs:
  deploy-all-namespaces:
    runs-on: ubuntu-latest
    permissions: 
      contents: read
      id-token: write
    strategy:
      matrix:
        namespace: [xp264-001, xp264-002]
    # https://docs.github.com/en/actions/how-tos/reuse-automations/reuse-workflows#calling-a-reusable-workflow
    # https://docs.github.com/en/actions/how-tos/reuse-automations/reuse-workflows#using-a-matrix-strategy-with-a-reusable-workflow
    uses: ./.github/workflows/reuse.yml
    with:
      NAMESPACE: ${{ matrix.namespace }}
    #secrets: inherit