on:
  workflow_dispatch:
    inputs:
      ACTION:
        description: "manage subscription"
        required: true
        default: "subscribe"
        type: "choice"
        options:
          - "subscribe"
          - "unsubscribe"

      subaccount_name:
        description: "consumer tenant name prefix"
        required: true
        default: "xp264-000"
        type: "choice"
        options:
          - "xp264-000"
          - "xp264-001"
          - "xp264-002"
          - "xp264-003"
          - "xp264-004"
          - "xp264-005"
          - "xp264-006"
          - "xp264-007"
          - "xp264-008"
          - "xp264-009"
          - "xp264-010"
          - "xp264-011"
          - "xp264-012"
          - "xp264-013"
          - "xp264-014"
          - "xp264-015"
          - "xp264-016"
          - "xp264-017"
          - "xp264-018"
          - "xp264-019"
          - "xp264-020"
          - "xp264-021"
          - "xp264-022"
          - "xp264-023"
          - "xp264-024"
          - "xp264-025"
          - "xp264-026"
          - "xp264-027"
          - "xp264-028"
          - "xp264-029"
          - "xp264-030"
          - "xp264-031"
          - "xp264-032"
          - "xp264-033"
          - "xp264-034"
          - "xp264-035"
          - "xp264-036"
          - "xp264-037"
          - "xp264-038"
          - "xp264-039"
          - "xp264-040"
          - "xp264-041"
          - "xp264-042"
          - "xp264-043"
          - "xp264-044"
          - "xp264-045"
          - "xp264-046"
          - "xp264-047"
          - "xp264-048"
          - "xp264-049"
          - "xp264-050"

## Add shared Environment Variables across jobs here ##
env:
  RUNTIME_ACTION: ${{ inputs.ACTION == 'subscribe' && 'apply' || inputs.ACTION == 'unsubscribe' && 'destroy' || inputs.ACTION }}
  GLOBALACCOUNT: "c1f19148-71f7-4883-9f86-8d5ee7634dec"
  IDP: "anuk8cmfw.accounts.ondemand.com"

  CONFIG_DIRECTORY: "./exercises/ex1/k8s-mt/"
  PATH_TO_TFSCRIPT: "./exercises/ex1/k8s-mt/"  

"jobs":
  "subscribe-manifest":

    "runs-on":
    - "ubuntu-latest"
    "steps":
    - "name": "Check out Git repository"
      "uses": "actions/checkout@v4"
    - "name": "Setup Kube Context - uk-xp264"
      "uses": "azure/k8s-set-context@v4"
      "with":
        "kubeconfig": |
          {"apiVersion":"v1","clusters":[{"cluster":{"certificate-authority-data":"LS0tLS1CRUdJTiBDRVJUSUZJQ0FURS0tLS0tCk1JSUQ1akNDQWs2Z0F3SUJBZ0lRQnBmaHN3SmppckNMRlNoQ05UM0h5ekFOQmdrcWhraUc5dzBCQVFzRkFEQU4KTVFzd0NRWURWUVFERXdKallUQWVGdzB5TlRFd01ESXdOalF6TUROYUZ3MHpOVEV3TURJd05qUTBNRE5hTUEweApDekFKQmdOVkJBTVRBbU5oTUlJQm9qQU5CZ2txaGtpRzl3MEJBUUVGQUFPQ0FZOEFNSUlCaWdLQ0FZRUF1N2d3ClBMbmFSY2k4bVZXWWdSYmNveHBNN1FybTVPQ0pUYy9xYVRNaHRqVUt2TDYyYnFPWmFBQURNaDMxVjlTbmc2S1UKUkFwdzR5ODlselNsdUh1SGZySEVmVGtXT3E4dDBqb2M1eW4raFVEeTZTbE9ZVlJ5RmY5UlZMOHV2MnRFOURkZQpHUk9CTFdXRXIwbkM2VzYwYTdUUENFeVJvQzIyU3M2cDNzZVBDaVJlVWdENk11ck8yeWxPQzFGSU9JdFZ4anlkCkFWb3hJaXlwa3l0RGw0MkRINkQwczgydW91VzZ2SVpkbWxZcW44YlMrbUZ2QkYvMGlIZC92UEdaMmo5MTcrc2QKQ1BrckF5enkxd1Y0TTRtZ1JJZ3ZMVG1PRDZyemRvOHJWRkFhUktRd3luMGplcjhhUnVzekFJejFxUDNzSlkxSAo0SlpmRzBxQUFHM2V0RkExc2Z1eWk5ZEpSZFNvZ0V6QnQzYUFWRUZKcEJlWHlncTB1K1phVkY2dWQvaDFYMmlVCjhFV1BxVDN5aHgveFZOaVpQaGRpczQyMXZPRDU0Q1RSS0JsMEVwODh6UXJkV3hGR0oxODRzcE0rZkkyc0twWTMKbURNZXkyd0ZadXR5UU10M0VqSlRsWkFWRVVPc1JIcnZZV0N0ZzF5OURITXRmb29xeXpZZ0R5UWdHTTdoQWdNQgpBQUdqUWpCQU1BNEdBMVVkRHdFQi93UUVBd0lCcGpBUEJnTlZIUk1CQWY4RUJUQURBUUgvTUIwR0ExVWREZ1FXCkJCU0RtSHkxWkM2TjhjUWp4SjdDY2djcGxqbkZoakFOQmdrcWhraUc5dzBCQVFzRkFBT0NBWUVBSnkxYzBHZGcKVC9WTTBicExSbzUxYnVZUHZqMGFlenpKYWUweS9lMy8vVUptTmNBOCtIb2xhaFZhOXUxVE5GYzAxK1UwR1dLNQpJVUZFNWExdjVCdWlMOGJBRzhyV0JkeVJ3QkJJelRQVTdvRm9EblZuU1FOTXVYSVNUdTE0QS84NzVkK1crM0FYCnhLand6U0RHc0U0Wmp4Zy9vVnJDNDJZU3pFcW5ISkNpTGNsVWFzM1lzNWVTWjFQNEhvcTRhcjE0U05pK20xejkKVzNLb3R3Ly9PUU95dFJGcVhBc2ZrTkVMQ25rV2RONG1FWEdOVVJpZjdDTjJ4L05LQm9yU0dWa0ZtNjd1WWJqSgoxcDhHZTIwK3ZJZEdvR1d3Q2lLendLM0hiUHpVbS9FbDZLZVVzMVdIL0o1TFRZelNJU3Q1eldyZkl6amtSY1E2CkQ1OTdWN2NBQVlDL3dWWC9wdkdWeG1DR3J1aVY5QTRjTzhYNlVFaVZaUE1ubW5wUE9XVW1KV29PSklqYkFJakIKWGNkaWpHU1RtYzBDUmxIYjUxSGdYUkhNRCs0RXhyQzV0VFQ1NVF4R1l2SHZ4SzFCUDFsbDVhU1JHdHMyd1FoMAprbzN3eW4wUSt2OUhWMzRmVXZTc1doZ0NRdTdmcHl3WUVLQzBUNWdVYlNCQWRPeTA0TDkyemY3VwotLS0tLUVORCBDRVJUSUZJQ0FURS0tLS0tCg==","server":"https://api.b84edf3.kyma.ondemand.com"},"name":"garden-kyma--b84edf3-external"}],"contexts":[{"context":{"cluster":"garden-kyma--b84edf3-external","user":"garden-kyma--b84edf3-external"},"name":"garden-kyma--b84edf3-external"}],"current-context":"garden-kyma--b84edf3-external","kind":"Config","users":[{"name":"garden-kyma--b84edf3-external","user":{"exec":{"apiVersion":"client.authentication.k8s.io/v1","args":["-c","set -e -o pipefail\nOIDC_URL_WITH_AUDIENCE=\"$ACTIONS_ID_TOKEN_REQUEST_URL\u0026audience=gh-teched-76f46b5b-d9ab-486f-8e4f-12e1163af943\"\nIDTOKEN=$(curl -sS \\\n  -H \"Authorization: Bearer $ACTIONS_ID_TOKEN_REQUEST_TOKEN\" \\\n  -H \"Accept: application/json; api-version=2.0\" \\\n  \"$OIDC_URL_WITH_AUDIENCE\" | jq -r .value)\n# Print decoded token information for debugging purposes\necho ::debug:: JWT content: \"$(echo \"$IDTOKEN\" | jq -c -R 'split(\".\") | .[1] | @base64d | fromjson')\" \u003e\u00262\nEXP_TS=$(echo $IDTOKEN | jq -R 'split(\".\") | .[1] | @base64d | fromjson | .exp')\nEXP_DATE=$(date -d @$EXP_TS --iso-8601=seconds)\n# return token back to the credential plugin\ncat \u003c\u003c EOF\n{\n  \"apiVersion\": \"client.authentication.k8s.io/v1\",\n  \"kind\": \"ExecCredential\",\n  \"status\": {\n    \"token\": \"$IDTOKEN\",\n    \"expirationTimestamp\": \"$EXP_DATE\"\n  }\n}\nEOF\n"],"command":"bash","interactiveMode":"Never"}}}]}
        "method": "kubeconfig"

    - name: Get short-lived GitHub-issued JWT
      id: get-github-jwt
      run: |
        githubJwt=$(curl -s -H "Authorization: Bearer $ACTIONS_ID_TOKEN_REQUEST_TOKEN" -H "Accept: application/json; api-version=2.0" -H "Content-Type: application/json" "$ACTIONS_ID_TOKEN_REQUEST_URL&audience=https://${{ env.IDP }}" | jq -r '.value')

        EXP_TS=$(echo $githubJwt | jq -R 'split(".") | .[1] | @base64d | fromjson | .exp')
        echo $EXP_TS
        EXP_DATE=$(date -d @$EXP_TS --iso-8601=seconds)
        echo $EXP_DATE

        echo $githubJwt | jq -R 'split(".") | .[0],.[1] | @base64d | fromjson'
        echo "githubJwt=$githubJwt" >> $GITHUB_OUTPUT
          
    - name: Setup Terraform
      id : setup_terraform
      uses: hashicorp/setup-terraform@v3
      with:
        terraform_wrapper: false
        terraform_version: latest

    - name: Terraform Init MT check
      id: terraform_init_mt
      shell: bash
      run: |
        wget -qO- https://ipecho.net/plain ; echo

        export CONFIG_DIRECTORY=${{ env.CONFIG_DIRECTORY }}
        export TF_REGISTRY_CLIENT_TIMEOUT=30s
        export BTP_ASSERTION=${{steps.get-github-jwt.outputs.githubJwt}}

        terraform workspace select -or-create ${{ env.RUNTIME_WORKSPACE }} || echo "Workspace ${{ env.RUNTIME_WORKSPACE }} already exists or cannot be created"

        terraform -chdir=${{ env.PATH_TO_TFSCRIPT }} init -upgrade -no-color
        export TF_WORKSPACE=${{ env.RUNTIME_WORKSPACE }}

      env:
        RUNTIME_WORKSPACE: "mt-context-${{ inputs.subaccount_name }}-${{env.GLOBALACCOUNT}}"
        PROVIDER_WORKSPACE: "provider-context-${{env.GLOBALACCOUNT}}" 
        CONFIG_DIRECTORY: "./exercises/ex1/k8s-mt-data/"
        PATH_TO_TFSCRIPT: "./exercises/ex1/k8s-mt-data/"  


    - name: Terraform Apply MT check
      id: terraform_apply_mt
      shell: bash
      run: |
        export TF_WORKSPACE=${{ env.RUNTIME_WORKSPACE }}
        export CONFIG_DIRECTORY=${{ env.CONFIG_DIRECTORY }}
        export TF_REGISTRY_CLIENT_TIMEOUT=30s

        export BTP_ASSERTION=${{steps.get-github-jwt.outputs.githubJwt}}
        export BTP_GLOBAL_ACCOUNT=${{env.GLOBALACCOUNT}}
  
        terraform -chdir=${{ env.PATH_TO_TFSCRIPT }} ${{ env.RUNTIME_ACTION }} \
        -var BTP_GLOBAL_ACCOUNT=${{env.GLOBALACCOUNT}} \
        -var BTP_CUSTOM_IDP=${{ env.IDP }} \
        -var BTP_SUBACCOUNT=${{ github.event.inputs.subaccount_name }} \
        -auto-approve -no-color

      env:
        RUNTIME_WORKSPACE: "mt-context-${{ inputs.subaccount_name }}-${{env.GLOBALACCOUNT}}"
        PROVIDER_WORKSPACE: "provider-context-${{env.GLOBALACCOUNT}}" 
        RUNTIME_ACTION: "apply"
        CONFIG_DIRECTORY: "./exercises/ex1/k8s-mt-data/"
        PATH_TO_TFSCRIPT: "./exercises/ex1/k8s-mt-data/"  


    # https://stackoverflow.com/questions/69925970/how-to-save-terraform-output-variable-into-a-github-action-s-environment-variabl
    - name: Terraform Output MT check
      id: terraform_output_mt
      shell: bash
      run: |
        terraform workspace select ${{ env.RUNTIME_WORKSPACE }}
        export TF_WORKSPACE=${{ env.RUNTIME_WORKSPACE }}
        export CONFIG_DIRECTORY=${{ env.CONFIG_DIRECTORY }}

        export BTP_ASSERTION=${{steps.get-github-jwt.outputs.githubJwt}}
        terraform -chdir=${{ env.PATH_TO_TFSCRIPT }} state list
        terraform -chdir=${{ env.PATH_TO_TFSCRIPT }} output

        terraform -chdir=${{ env.PATH_TO_TFSCRIPT }} output btp_subaccount_id 
        btp_subaccount_id=$(terraform -chdir=${{ env.PATH_TO_TFSCRIPT }} output btp_subaccount_id)

        echo $btp_subaccount_id
        echo "btp_subaccount_id=$btp_subaccount_id" >> $GITHUB_OUTPUT


      env:
        RUNTIME_WORKSPACE: "mt-context-${{ inputs.subaccount_name }}-${{env.GLOBALACCOUNT}}"
        PROVIDER_WORKSPACE: "provider-context-${{env.GLOBALACCOUNT}}" 
        CONFIG_DIRECTORY: "./exercises/ex1/k8s-mt-data/"
        PATH_TO_TFSCRIPT: "./exercises/ex1/k8s-mt-data/"  

    - name: Terraform Init
      id: terraform_init
      shell: bash
      run: |
        wget -qO- https://ipecho.net/plain ; echo

        export CONFIG_DIRECTORY=${{ env.CONFIG_DIRECTORY }}
        export TF_REGISTRY_CLIENT_TIMEOUT=30s
        export BTP_ASSERTION=${{steps.get-github-jwt.outputs.githubJwt}}
        export KUBE_CONFIG_PATH=$KUBECONFIG

        terraform workspace select -or-create ${{ env.RUNTIME_WORKSPACE }} || echo "Workspace ${{ env.RUNTIME_WORKSPACE }} already exists or cannot be created"

        terraform -chdir=${{ env.PATH_TO_TFSCRIPT }} init -upgrade -no-color
        export TF_WORKSPACE=${{ env.RUNTIME_WORKSPACE }}

      env:
        RUNTIME_WORKSPACE: "mt-context-${{ inputs.subaccount_name }}-${{env.GLOBALACCOUNT}}"
        PROVIDER_WORKSPACE: "provider-context-${{env.GLOBALACCOUNT}}" 
        CONFIG_DIRECTORY: "./exercises/ex1/k8s-mt/"
        PATH_TO_TFSCRIPT: "./exercises/ex1/k8s-mt/"  

    - name: Terraform Apply 
      id: terraform_apply
      shell: bash
      run: |
        export TF_WORKSPACE=${{ env.RUNTIME_WORKSPACE }}
        export CONFIG_DIRECTORY=${{ env.CONFIG_DIRECTORY }}
        export TF_REGISTRY_CLIENT_TIMEOUT=30s
        export KUBE_CONFIG_PATH=$KUBECONFIG

        export BTP_ASSERTION=${{steps.get-github-jwt.outputs.githubJwt}}
        export BTP_GLOBAL_ACCOUNT=${{env.GLOBALACCOUNT}}
  
        terraform -chdir=${{ env.PATH_TO_TFSCRIPT }} ${{ env.RUNTIME_ACTION }} \
        -var BTP_GLOBAL_ACCOUNT=${{env.GLOBALACCOUNT}} \
        -var BTP_CUSTOM_IDP=${{ env.IDP }} \
        -var BTP_SUBACCOUNT=${{ github.event.inputs.subaccount_name }} \
#        -var subaccount_id=${{ steps.terraform_output_mt.outputs.btp_subaccount_id }} \
        -auto-approve -no-color

      env:
        RUNTIME_WORKSPACE: "mt-context-${{ inputs.subaccount_name }}-${{env.GLOBALACCOUNT}}"
        PROVIDER_WORKSPACE: "provider-context-${{env.GLOBALACCOUNT}}" 
        CONFIG_DIRECTORY: "./exercises/ex1/k8s-mt/"
        PATH_TO_TFSCRIPT: "./exercises/ex1/k8s-mt/"  

    # https://stackoverflow.com/questions/69925970/how-to-save-terraform-output-variable-into-a-github-action-s-environment-variabl
    - name: Terraform Output # https://docs.github.com/en/actions/reference/workflows-and-actions/contexts#steps-context
      id: terraform_output
      shell: bash
      run: |
        terraform workspace select ${{ env.RUNTIME_WORKSPACE }}
        export TF_WORKSPACE=${{ env.RUNTIME_WORKSPACE }}
        export CONFIG_DIRECTORY=${{ env.CONFIG_DIRECTORY }}
        export KUBE_CONFIG_PATH=$KUBECONFIG

        export BTP_ASSERTION=${{steps.get-github-jwt.outputs.githubJwt}}
        #terraform -chdir=${{ env.PATH_TO_TFSCRIPT }} state list
        terraform -chdir=${{ env.PATH_TO_TFSCRIPT }} output
        terraform -chdir=${{ env.PATH_TO_TFSCRIPT }} output faas-app-xp264-049-saas

      env:
        RUNTIME_WORKSPACE: "mt-context-${{ inputs.subaccount_name }}-${{env.GLOBALACCOUNT}}"
        PROVIDER_WORKSPACE: "provider-context-${{env.GLOBALACCOUNT}}" 
        CONFIG_DIRECTORY: "./exercises/ex1/k8s-mt/"
        PATH_TO_TFSCRIPT: "./exercises/ex1/k8s-mt/"  

"name": "teched-xp264-mt"

"permissions":
  "contents": "read"
  "id-token": "write"
