"jobs":
  "apply-manifest":
    "runs-on":
    - "ubuntu-latest"
    "steps":
    - "name": "Check out Git repository"
      "uses": "actions/checkout@v4"
    - "name": "Install Helm"
      "uses": "azure/setup-helm@v4"
    - "name": "Setup Kube Context"
      "uses": "azure/k8s-set-context@v4"
      "with":
        "kubeconfig": |+
          "apiVersion": "v1"
          "clusters":
          - "cluster":
              "certificate-authority-data": "LS0tLS1CRUdJTiBDRVJUSUZJQ0FURS0tLS0tCk1JSUQ1akNDQWs2Z0F3SUJBZ0lRYlRrbXdOZjZCdWVCbmsvNHIyUWdSVEFOQmdrcWhraUc5dzBCQVFzRkFEQU4KTVFzd0NRWURWUVFERXdKallUQWVGdzB5TlRFd01qRXhNREEzTlRKYUZ3MHpOVEV3TWpFeE1EQTROVEphTUEweApDekFKQmdOVkJBTVRBbU5oTUlJQm9qQU5CZ2txaGtpRzl3MEJBUUVGQUFPQ0FZOEFNSUlCaWdLQ0FZRUErQ1k2Cks4M1A5dlkxdVNYSVp4dk40M29WNnlySzN0cnVhbVQxd1VtSUJLUHpzd2VndFZCZE5SbWRDSE5iWWtmZFFuMmcKbEdKU0JWNGx3a0dMcm04bkR6YjU2NlUxclRac1dWTzgyNTJNMEVXNW9QQTVVcTJOVTRZUnFEcks5QU5aN2xnbQplc1Vqb2NmZWtUMElWYlZJUWV3M2ZWQnZLN2tiWnN5cjlyVUZ3bVUreGJlc1VXZFNGNXFzWGdJZlcyUjVRb2RyCmFrVUkrSGpzMzZkTWZXY3p2ejhsZkxZR2ZTbjE4Z0NRNUYzMmZEK2psWmtFalNZV095aUJMS2dwOERac0JuQVcKMENuZjVoS2pvWDFwVXNqQU0wSWJ6SWpPWmdSOE15LzJJZG5QUUcvTGp0WlVCdGVBQy9LQnd3bU9DRDR1SVd4RQpxblRheU1LTmZvSGdpQm9qYVBSUnRqQ2o0U2ZqVHlSQkluL2lmYmVKeXZOZ2h3S0MrVzRIc2o1c0RvMG8rU25CClgzYy9pSFdWYWxkajNCajExSXRMV21RWm1PSXdJSktGK3VEWVpEaS9MNW1GOGhSVzZQRHRiR3ZodUtjOXJmZWgKdHJQb3pvVkk2enJRbVZUbUJaY0c4dG5HUnNnMmZPYmNiWnJNSlg3ZTVWTzh4VDc2RHp5M1lKU0NXMHVaQWdNQgpBQUdqUWpCQU1BNEdBMVVkRHdFQi93UUVBd0lCcGpBUEJnTlZIUk1CQWY4RUJUQURBUUgvTUIwR0ExVWREZ1FXCkJCUXZpdytCZWIxVDBndE5tYlBzZyttMGhzQU9ZekFOQmdrcWhraUc5dzBCQVFzRkFBT0NBWUVBaTFLa0JwK24KMFVSYkVlVzYvLy9ycFMra0d3clRJSk5vNDgzUm1ZSkFTV3NSOFVGZnJxVzZ5Z3VWcVB4alQzbkZ1MFNlUWRvdQoxT1F0RFIxTXFuNzRCOFJzcE1aU21hMkJOT1BjbEZRc3N4ai9kOWlLdzJDaldMZkJrbnFjdFBGOEwxRExHT2xPClBQaUNkNlI1SHZwb2c3clE2MFo3REJ0R08venRrM3YvMEtxUHlVRXJ2ZDVxUytsQWZ4eUM2ZGhEOFJlaWw5UTQKakFYQUpLaFhGc0lEZldvbHF1dk5FTnZaK1gvV0NTakRyNFhUZkd2TEQrYVExdVVlOExGZkgxVFM2cTg0Ly9xRQovWkxlWmoxNDVrYllDT2s4ZTRTQzJQdldxVXdYUm9TVUIzQWp4andxZS85RmFjTjhjYjY5djBoZWIwUkk3Qk9IClFJdlMxMTJqOSt4ODF4MFFENzZxK0loVHR3VWNnY1BuUWQzRUU5K1VUNml5Znd4cGNJL0xWMWh2S1cxQ0NGbzQKMmtTWWNNRng3WEdETmNYVG5McE9YUWR4d2dmcXZlZ1JCdkhFQm0xZVcyUUk5dExYQjA3MEc2ZkVTNkdXN3RtWQozdTdhb2NoRnp4dnQvZitrcjJVOHpoYzlpMUJrWW5RU0RyQ0ZRalN2dHFXdkZKT09IV3hWN0lsNQotLS0tLUVORCBDRVJUSUZJQ0FURS0tLS0tCg=="
              "server": "https://api.b242c25.kyma.ondemand.com"
            "name": "garden-kyma--b242c25-external"
          "contexts":
          - "context":
              "cluster": "garden-kyma--b242c25-external"
              "user": "garden-kyma--b242c25-external"
            "name": "garden-kyma--b242c25-external"
          "current-context": "garden-kyma--b242c25-external"
          "kind": "Config"
          "users":
          - "name": "garden-kyma--b242c25-external"
            "user":
              "exec":
                "apiVersion": "client.authentication.k8s.io/v1"
                "args":
                - "-c"
                - |
                  set -e -o pipefail
                  OIDC_URL_WITH_AUDIENCE="$ACTIONS_ID_TOKEN_REQUEST_URL&audience=gh-teched-2ec5d15b-ab55-4352-ba58-e161ed0bc169"
                  IDTOKEN=$(curl -sS \
                    -H "Authorization: Bearer $ACTIONS_ID_TOKEN_REQUEST_TOKEN" \
                    -H "Accept: application/json; api-version=2.0" \
                    "$OIDC_URL_WITH_AUDIENCE" | jq -r .value)
                  # Print decoded token information for debugging purposes
                  echo ::debug:: JWT content: "$(echo "$IDTOKEN" | jq -c -R 'split(".") | .[1] | @base64d | fromjson')" >&2
                  EXP_TS=$(echo $IDTOKEN | jq -R 'split(".") | .[1] | @base64d | fromjson | .exp')
                  EXP_DATE=$(date -d @$EXP_TS --iso-8601=seconds)
                  # return token back to the credential plugin
                  cat << EOF
                  {
                    "apiVersion": "client.authentication.k8s.io/v1",
                    "kind": "ExecCredential",
                    "status": {
                      "token": "$IDTOKEN",
                      "expirationTimestamp": "$EXP_DATE"
                    }
                  }
                  EOF
                "command": "bash"
                "interactiveMode": "Never"

        "method": "kubeconfig"
    - "name": "Deploy JupyterHub"
      "run": |
        helm repo add jupyterhub https://jupyterhub.github.io/helm-chart/
        helm repo update
        helm show values jupyterhub/jupyterhub > values.yaml
        cat ./values.yaml
        helm uninstall -n jupyter quovadis-jupyter --ignore-not-found
        helm upgrade --cleanup-on-fail --install quovadis-jupyter jupyterhub/jupyterhub --namespace jupyter --create-namespace --values values.yaml
    - "name": "check permissions"
      "run": |
        kubectl auth can-i --list --namespace quovadis-btp
        kubectl get nodes
        kubectl get pod -A
        kubectl get -n kyma-system kymas default -o json | jq '.spec.modules[] '
        kubectl get cm/shoot-info -n kube-system -o json | jq .data
        kubectl get openidconnect
        kubectl get cm/kyma-provisioning-info -n kyma-system -ojsonpath='{.data.details}'
    - "name": "kyma cli 3.2.0"
      "run": |
        echo "Installing kyma cli..."
        curl -sSL "https://github.com/kyma-project/cli/releases/download/3.2.0/kyma_Linux_x86_64.tar.gz" |  tar -xzv kyma
        ./kyma --help
        ./kyma alpha --help
        echo "List of modules"
        ./kyma module list
        ./kyma alpha kubeconfig generate --serviceaccount kyma-cli-sa --clusterrole cluster-admin --cluster-wide --namespace default --permanent > kyma-cli-sa.yaml

        echo "List of modules with  kyma-cli-sa"
        ./kyma module list --kubeconfig ./kyma-cli-sa.yaml
        echo "deploy a docker image and expose it via an API Rule v2"

        kubectl delete all -l app.kubernetes.io/name=httpbin-app
        ./kyma app push --name httpbin-app --image kennethreitz/httpbin --istio-inject true --expose --container-port 80
    - "name": "Diagnose cluster health and configuration"
      "run": |
        echo "Get cluster metadata..."

        ./kyma alpha diagnose -f json | jq -r '.metadata'
    - "name": "Community Modules Support"
      "run": |
        echo "discover/add available community-driven modules..."

        ./kyma module catalog
    - "name": "kyma-oidc-0 (https://dashboard.kyma.cloud.sap/cluster)"
      "run": |
        echo "generate kubeconfig files..."

        ./kyma alpha kubeconfig generate --oidc-name kyma-oidc-0 --output=kymacanary-oidc.yaml

        cat kymacanary-oidc.yaml
    - "name": "kymacanary-oidc (https://dashboard.kyma.cloud.sap/cluster)"
      "run": |
        echo "generate kubeconfig files..."

        ./kyma alpha kubeconfig generate --oidc-name kymacanary-oidc --output=kymacanary-oidc.yaml

        cat kymacanary-oidc.yaml
    - "name": "kymaprod-oidc (https://dashboard.kyma.cloud.sap/cluster)"
      "run": |
        echo "generate kubeconfig files..."

        ./kyma alpha kubeconfig generate --oidc-name kymaprod-oidc --output=kymaprod-oidc.yaml

        cat kymaprod-oidc.yaml
"name": "xp264-045--admin"
"on":
  "workflow_dispatch": null
"permissions":
  "contents": "read"
  "id-token": "write"
